.form-container-login {
  font-family: "Comic Sans MS", cursive;
  min-height: 100vh;
  background: #fafafa; /* Warna latar belakang abu-abu muda */
  color: #333;
}

.container-custom {
  max-width: 400px !important;
}

.card-custom {
  width: 100% !important;
  background-color: #f8f8f8 !important; /* Warna card */
  padding: 20px;
  border-radius: 12px; /* Border radius card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

input,select {
  padding: 10px;
  border: 2px solid #ddd; 
  transition: border-color 0.3s ease-in-out;
  outline: none;
  color: #333;
  background-color: #f4f4f4; 
}

input:focus,select:focus {
  border-color: #ff9900;
}

button {
  background-color: #ff9900; 

  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ff6600;
}

.text-white-custom{
  color:white !important;
}

@media (max-width:564px) {
  .text-white-custom{
  color:black !important;
}

}
